[submodule "navigation-menu"]
	path = navigation-menu
	url = git@github.com:smtech/smcanvas-navigation-menu.git
[submodule "faculty-journal"]
	path = faculty-journal
	url = git@github.com:smtech/smcanvas-faculty-journal.git
[submodule "grading-analytics"]
	path = grading-analytics
	url = git@github.com:smtech/smcanvas-grading-analytics.git
